body {
     font-family: "jost", sans-serif; 
}
h1 {
    font-size: 5rem;
    line-height: 1.2;
    color:#830f70;
    margin:5rem 0 1rem 0;
    padding-bottom: 85px;
    padding-top: 10px;
    text-align: center;
    

}

header h1 {
    font-family: "Google sans serif";
}

h2 {
        font-weight: 600;
        color:#830f70;
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: center;
}

header p {
    font-size: 24px;
    font-family: "jost", sans-serif;
    line-height: 1.6;
    font-weight: 500;
    margin-top: 0.25rem;
    margin-bottom: 1.75rem;
}


/*--styling--*/
a {
    color: #e0edff;
    text-decoration: none;
    border-bottom: 2px;
    font-weight: 800;
}
a:hover {
    color: #000000;
}

hr{
    margin: 3rem 0 5rem 0;
    
}

/*-- navigation --*/
.responsivenav{
    background-color: #830f70;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-size: 1.75rem;
    color: #e0edff;
    font-family: "jost" serif;
    font-weight: 600;
    padding-left: 35px;
}

nav{
    display: flex;
    padding: 1.5rem 0;
}

nav ul{
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right: 70px;
}

nav ul li {
    display: inline;
    margin: 5px;
    font-size: 0.85rem;
}

nav a {
    border-bottom: none;
    color:#e0edff;
    padding: 10px;
}

nav a :hover {
    color: #e0edff;
    transition: all 0.3s ease-in-out;
}



/*-- Adding responsive element to images--*/

.gridimage {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.gridimage img {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 50px;
    padding-top: 50px;
}
.fullwidth {
    width: 100%;
    height: 450px;
    display: block;
}
body {
    margin: 0;
    padding: 0;
}


/*-- styling the footer --*/

footer {
    background: #830f70;
    color: #f7f7f7;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.25rem 0;
}

footer a {
    color: #e0edff;
}

footer a:hover {
    color: #000000;
}

/*-- Adding media queries for different devices--*/

@media (max-width:600px){
    header h1 {
        font-size: 4rem;}
    .gridimage {
        row-gap: 10px;
    }
}
@media (max-width: 600px) { 
    h2 { font-size: 1.5rem; } 
}


